@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
            .grid-container{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 10px;
            }
                

            .grid-item{
                background-color: #e31b7f;
                color: rgb(255, 255, 255);
                border: 1px solid #ffffff;
                padding: 20px;
                text-align: center;
                font-size: 30px;
            }
